<br>
<mat-card>
	<mat-card-header>
		<mat-card-title>API Polling</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<!-- <button class="mat-raised-button badge">{{ value }}</button> -->
		<br><br>
		<div #textData class="textData"><span class="empty-cell">(data)</span></div>
	</mat-card-content>
	<mat-card-actions>
		<button mat-button #start class="mat-raised-button" >Start</button>
		<button mat-button #end class="mat-raised-button">Stop</button>
		<br><br>
	</mat-card-actions>
</mat-card>
<br>

