.mat-class {
	margin: 20px 0px;
}
.mat-raised-button {
	padding: 5px 30px;
	margin-right: 10px;
	border: 1px solid #222;
	margin: 0px 10px 10px 0px;
}

.mat-raised-button:hover {
	background: #eeeeee;
}
.badge {
	float: right;
	font-size: 24px;
	border: 1px solid #fff;
}

.textData {
	height: 300px;
	background-color: #eeeeee;
	padding: 5px;
}
.empty-cell{
	text-align: center;
}
.mat-card-actions {
	margin-left: 5px;
}