.init{
	padding: 0px 15px;
}
.mat-raised-button {
	padding: 5px 30px;
	margin-right: 10px;
	border: 1px solid #222;
	margin: 0px 10px 10px 0px;
}

.mat-raised-button:hover {
	background: #eeeeee;
}
.badge {
	float: right;
	font-size: 24px;
	border: 1px solid #fff;
}

.textData {
	height: 300px;
	background-color: #eeeeee;
	padding: 5px;
}
.empty-cell{
	text-align: center;
}

.link-active span{
	border-bottom: 2px solid pink;
}

.git-icon {
  font-size: 30px;
  padding: 5px;
  float: right;
  color: pink;
}

.sm-padding {
  padding-top: 10px;
}
