<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-toolbar-header">
      <div fxLayout="row" fxFlex="100%">
        <div fxFlex="30%" ngClass.xs="top-left">
          <div fxLayout="row" fxFlex="100%" ngClass.xs="sm-padding" ngClass.sm="sm-padding">
              <div class="my-name" fxShow="true">Test Module</div>
          </div>
          <div fxLayout="row" fxFlex="100%">
            <span class="my-name-desktop">Farshid Kamal</span>
          </div>
        </div>
        <div fxFlex="63%" class="one_two">
        </div>
        <div fxFlex="7%" class="git-padding">
          <a href="http://github.com/tofarshid">
            <i class="git-icon fa fa-github" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </mat-toolbar>
    <div class="init">
    	<app-polling></app-polling>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

